.hero {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem 1rem 1rem;
  position: relative;
  margin-bottom: 0rem;
  overflow: visible;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.heroImage {
  position: relative;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 40vh;
  img {
    width: 100%;
    height: auto;
  }
}

.introSection {
  position: relative;
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.introContent {
  z-index: 10;
  margin-top: -150px;
  margin-bottom: -120px;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 40px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  h2 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.1rem;
    padding: 0rem 2rem;
  }
}

.introAccent {
  font-family: var(--bubblegum);
  color: var(--yellow);
  font-size: 4rem;
}

.bottomRow {
  margin-top: -90px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: -60px;
}

.bumper {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: -60px;
}

.imageLeafKids {
  position: relative;
  width: 100%;
  min-height: 90vh;
  z-index: -1;
  background-image: url("/kids-leaf.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.naturePlaySection {
  background-color: var(--purple);
  position: relative;
  padding: 7rem 1rem 1rem 1rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -11rem;
}

.naturePlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  gap: 2rem;
  h2 {
    color: var(--yellow);
    font-size: 4.5rem;
  }

  p {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.grid {
  padding: 13rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gridtop {
  max-width: 900px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--yellow);
  h2 {
    font-family: var(--bubblegum);
    font-size: 5.5rem;
  }
  p {
    max-width: 650px;
    font-size: 1.3rem;
  }

  .iconrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: -75px;
  }
}
